---
import MainLayout from '../../../../layouts/MainLayout.astro';
import { withBase } from '../../../../lib/path';

const contentBase = withBase("/notebook/open-it/e56a282f9c4747df");
---

<MainLayout title="Counter">
  <article class="Counter">
    <div id="observablehq-main"></div>
  </article>

  <link rel="stylesheet" href={`${contentBase}/inspector.css`} />

  <script type="module">
    import define from `${contentBase}/index.js`;
    import { Runtime, Library, Inspector } from `${contentBase}/runtime.js`;

    const runtime = new Runtime();
    runtime.module(define, Inspector.into(document.querySelector("#observablehq-main")));
  </script>
</MainLayout>

<style>
  .embedded-html {
    width: 100%;
  }
</style>
