---
import MainLayout from '../../../../layouts/MainLayout.astro';
import { withBase } from '../../../../lib/path';

const pageBase = withBase("/notebook/open-it/9648c728c319e0a9");
const indexJs = `${pageBase}/index.js`;
const runtimeJs = `${pageBase}/runtime.js`;
const inspectorCss = `${pageBase}/inspector.css`;
---

<MainLayout title="Counter v2">
  <article class="Counter v2">
    <div id="observablehq-main"></div>
  </article>

  <link rel="stylesheet" href={inspectorCss} />

  <script type="module" define:vars={{ indexJs, runtimeJs }}>
    const defineModule = await import(indexJs);
    const runtimeModule = await import(runtimeJs);

    const define = defineModule.default;
    const { Runtime, Inspector } = runtimeModule;

    const runtime = new Runtime();
    runtime.module(define, Inspector.into(document.querySelector("#observablehq-main")));
  </script>
</MainLayout>

<style>
  .embedded-html {
    width: 100%;
  }
</style>
